.modal-dialog {
    margin: auto;
    margin-top: 10%;
}

/**** btn modif *****/
.btn-modif{
    background: #FFB64D;
    border-color: #FFB64D;
}

.btn-modif:hover {
    background-color: #ffffff;
    background-image: none;
    border-color: #FFB64D;
    color : #FFB64D;
}
.btn-modif:focus {
    background-color: #FFB64D;
    border-color: #FFB64D;
    color : #ffffff;
}

/**********************************/
/******** SWAL MODAL OPTION *******/
/* .modif-btns {
    margin: 20px 15px 10px 15px;
    padding-left: 20px;
    
}
.modif-btns .modif {
    margin-right: 10px;
}

/deep/ .customSwalBtn {
    background-color: rgb(23, 170, 178);
    border-left-color: rgb(23, 170, 178);
    border-right-color: rgb(23, 170, 178);
    padding: 13px 30px;
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    margin: 30px 5px 0px 5px;
}

/deep/ .customSwalBtn:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
} */
/**********************************/
/**********************************/
