:host {
    width: 100%;
}

.container-fluid {
    padding: 0;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}

.header-form {
    margin-bottom: 30px;
}

.input-group-append {
    background: #20a8d8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
}

label {
    text-align: right;
}

.add-icon {
    cursor: pointer;
    font-size: 20px;
    margin: auto;
    color: orange;
}